{
  "arrowParens": "avoid",
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "semi": false,
  "useTabs": false,
  "bracketSpacing": true,
  "quoteProps": "consistent",
	"plugins": ["prettier-plugin-svelte"]
}
